*{
  box-sizing: border-box;
}

body{
  margin: 0;
}

.navvv{
  background-color: blueviolet;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
}

.TitleFont{
  font-size: 2rem;
}

.navvv ul{
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.navvv a{
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
}

.navvv li:hover{
  background-color: gray;
  height: 100%;
  display: flex;
}

.navvv li:active{
  background-color: blueviolet;
}
footer {
  width: 100%;
  padding: 0.25em;
  background-color: rgb(92, 15, 148);
  color: aliceblue;
  display: grid;
  place-content: center;
}
.Thumbnail {

  height: auto;

max-width: 100%;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: rgb(92, 15, 148);
  padding: 10;
}
.grid-item {
  border: 1px solid rgba(255, 255, 255, 0.8);
  padding: 5%;
  font-size: 30px;
  text-align: center;
}